body {
  margin: 10px;
}

h1 {
  color: darkslategrey;
  margin-top: 40px;
}

.button-group {
  position: absolute;
  left: 20%;
  margin-top: 20px;
}

Button {
  margin: 10px;
}

h3 {
  text-align: center;
}

.file-item {
  margin: 10px;
}

.file {
  border: solid 2px black;
}

.file-item:hover {
  background-color: #E8E8E8;
  color: blue;
}

.menu-hover {
  display: none!important;
  position: relative!important;
  left: 30px;
  bottom: 25px;
}

.file-item:hover .menu-hover {
  display: inline!important;
}

.back-button {
  background-color: black;
  color: white;
  padding: 10px;
  position: relative;
  left: 10px;
  top: 10px;
}

.back-button:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.file-meta {
  text-align: center;
  border: solid 2px black;
  max-width: 500px;
  position: relative;
  left: 30%;
}
